Question 1Â¶

Create a list with the following data, and assign it to a variable named shopping: 'vegan butter' 'oat milk' 'red peppers' 'avocado'

Then do the following:

1. Extract the second element of the list.

2. Extract the first to third (inclusive) element of the list.

3. Extract everything except the last element of the list.

In [1]:
shopping = ["vegan butter", "oat milk", "red peppers", "avocado"]

In [2]:
shopping

['vegan butter', 'oat milk', 'red peppers', 'avocado']

In [3]:
#1. Extract the second element of the list.
shopping[1]

'oat milk'

In [6]:
#2. Extract the first to third (inclusive) element of the list.
shopping[0:3]

['vegan butter', 'oat milk', 'red peppers']

In [8]:
#3. Extract everything except the last element of the list.
shopping[0:-1]

['vegan butter', 'oat milk', 'red peppers']

Question 2

Set up a list with the following elements:

stops = ["Croy", "Cumbernauld", "Falkirk High", "Linlithgow", "Livingston", "Haymarket"]

Perform the following:

1. Append Edinburgh Waverley to the end of the list

2. Add "Queen Street" to the start of the list

3. Find out what index "Croy" is at in the list

4. Add "Polmont" at the appropriate point (between "Falkirk High" and "Linlithgow")

5. Remove "Haymarket" from the list of stops

6. Remove all items from stops

Hint: Some of these methods will change the original object stops. If you make any unwanted changes and want to go back to the original object you can re-run the code chunks where we created the object stops and then appended "Edinburgh Waverley".

In [23]:
stops = ["Croy", "Cumbernauld", "Falkirk High", "Linlithgow", "Livingston", "Haymarket"]

In [24]:
stops

['Croy',
 'Cumbernauld',
 'Falkirk High',
 'Linlithgow',
 'Livingston',
 'Haymarket']

In [25]:
#Append Edinburgh Waverley to the end of the list
stops.append("Edinburgh Waverly")

In [26]:
stops

['Croy',
 'Cumbernauld',
 'Falkirk High',
 'Linlithgow',
 'Livingston',
 'Haymarket',
 'Edinburgh Waverly']

In [27]:
#Add "Queen Street" to the start of the list
stops = ["Queen Street"] + stops

In [28]:
stops

['Queen Street',
 'Croy',
 'Cumbernauld',
 'Falkirk High',
 'Linlithgow',
 'Livingston',
 'Haymarket',
 'Edinburgh Waverly']

In [30]:
#Find out what index "Croy" is at in the list
stops.index("Croy")

1

In [31]:
#Add "Polmont" at the appropriate point (between "Falkirk High" and "Linlithgow")
stops.insert(4, "Polmont")

In [32]:
stops

['Queen Street',
 'Croy',
 'Cumbernauld',
 'Falkirk High',
 'Polmont',
 'Linlithgow',
 'Livingston',
 'Haymarket',
 'Edinburgh Waverly']

In [33]:
#Remove "Haymarket" from the list of stops
stops.remove("Haymarket")

In [34]:
stops

['Queen Street',
 'Croy',
 'Cumbernauld',
 'Falkirk High',
 'Polmont',
 'Linlithgow',
 'Livingston',
 'Edinburgh Waverly']

In [37]:
#Remove all items from stops
stops.clear()

In [38]:
stops

[]

Question 3

Set up the following dictionary:

person = {"name": "Steph", "age": 31, "Instructor" : True}

Do the following:

1. Return the keys, values and items from this dictionary

2. Take out only the name from it

3. Add a new key:value pair, which adds the email "steph@codeclan.com" to the dictionary

4. Delete the job description from the dictionary (Hint: look up the del function)

In [39]:
person = {"name": "Steph", "age": 31, "Instructor" : True}

In [40]:
person

{'name': 'Steph', 'age': 31, 'Instructor': True}

In [43]:
#Return the keys, values and items from this dictionary
person.keys()

dict_keys(['name', 'age', 'Instructor'])

In [44]:
person.values()

dict_values(['Steph', 31, True])

In [45]:
person.items()

dict_items([('name', 'Steph'), ('age', 31), ('Instructor', True)])

In [46]:
#Take out only the name from it
person.get("name")

'Steph'

In [51]:
#Add a new key:value pair, which adds the email "steph@codeclan.com" to the dictionary
person.update({"email": "steph@codeclan.com"})

In [52]:
person

{'name': 'Steph', 'age': 31, 'Instructor': True, 'email': 'steph@codeclan.com'}

In [63]:
#Delete the job description from the dictionary (Hint: look up the del function)
del person["Instructor"]

In [64]:
person

{'name': 'Steph', 'age': 31, 'email': 'steph@codeclan.com'}

Question 4

For the following list of numbers:

numbers = [1, 6, 2, 2, 7, 1, 6, 13, 99, 7]

1. Print out a list of the even integers:

2. Print the difference between the largest and smallest value:

3. Print True if the list contains a 2 next to a 2 somewhere.

4. Print the sum of the numbers, BUT ignore any section of numbers starting with a 6 and extending to the next 7. So [11, 6, 4, 99, 7, 11] would have sum of 22

In [2]:
numbers = [1, 6, 2, 2, 7, 1, 6, 13, 99, 7]

In [54]:
numbers

[1, 6, 2, 2, 7, 1, 6, 13, 99, 7]

In [55]:
#Print out a list of the even integers:
even_numbers = []
for number in numbers:
    if number %2 == 0:
        even_numbers.append(number)

print(even_numbers)

[6, 2, 2, 6]

In [56]:
#Print the difference between the largest and smallest value:
print(max(numbers)-min(numbers))

98

In [61]:
#Print True if the list contains a 2 next to a 2 somewhere.
for i in numbers:
    if i == 2 and numbers[numbers.index(i)+1] == 2:
        print (True)
        break

True

In [3]:
#Print the sum of the numbers, BUT ignore any section of numbers starting with a 6 and extending to the next 7. So [11, 6, 4, 99, 7, 11] would have sum of 22
total = 0
found_6 = False
for number in numbers: 
    if number == 6:
        found_6 = True
    elif found_6:
        if number == 7:
            found_6 = False
    else:
        total += number

print(total)

2

Question 5

Write a conditional that takes in two inputs :

python_is_fun = True

python_is_weird = True

We want to print "Woo Python!" if either python_is_fun is true OR python_is_weird is true OR both python_is_fun and python_is_weird are true. Otherwise, print "Python is not for me!". Make sure you test all the combinations.

In [68]:
def python_opinion(python_is_fun, python_is_weird):
    if python_is_fun == True:
        return "Woo Python!"
    elif python_is_weird == True:
        return "Woo Python!"
    else:
        return "Python is not for me!"

In [69]:
python_opinion(True, True)

'Woo Python!'

In [70]:
python_opinion(True, False)

'Woo Python!'

In [71]:
python_opinion(False, False)

'Python is not for me!'

In [72]:
python_opinion(False, True)

'Woo Python!'

Question 6

We have a list of chickens and the farmer would like to go through all the chickens, collecting the eggs and getting the total number of eggs collected.

In [73]:
chickens = [
  { "name": "Margaret", "age": 2, "eggs": 0 },
  { "name": "Hetty", "age": 1, "eggs": 2 },
  { "name": "Henrietta", "age": 3, "eggs": 1 },
  { "name": "Audrey", "age": 2, "eggs": 0 },
  { "name": "Mabel", "age": 5, "eggs": 1 },
]

In [74]:
chickens

[{'name': 'Margaret', 'age': 2, 'eggs': 0},
 {'name': 'Hetty', 'age': 1, 'eggs': 2},
 {'name': 'Henrietta', 'age': 3, 'eggs': 1},
 {'name': 'Audrey', 'age': 2, 'eggs': 0},
 {'name': 'Mabel', 'age': 5, 'eggs': 1}]

In [76]:
#To write this as a loop, we'd do something like this:

total_eggs = 0

for chicken in chickens:
    total_eggs += chicken["eggs"]
    chicken["eggs"] = 0 # eggs have been collected

print(f"{total_eggs} eggs collected")

4 eggs collected

Instead, we want to define a function which passes in a list, so that if we wanted to count eggs of a different list of chickens from another farm, we can use the same function, just pass in a different list.

We also want to return the string at the end, instead of using print.

In [ ]:
# try our first chicken list
chickens = [
  { "name": "Margaret", "age": 2, "eggs": 0 },
  { "name": "Hetty", "age": 1, "eggs": 2 },
  { "name": "Henrietta", "age": 3, "eggs": 1 },
  { "name": "Audrey", "age": 2, "eggs": 0 },
  { "name": "Mabel", "age": 5, "eggs": 1 },
]

def count_eggs( list ):
    total_eggs = 0

    for bird in list:
        total_eggs += bird["eggs"]
        bird["eggs"] = 0 # eggs have been collected

    return f"{total_eggs} eggs collected"

print(count_eggs(chickens))